.navbarContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: #211e1e;

  .firstNav {
    position: relative;
    right: 20px;
    display: flex;
    align-items: center;
  }
  .secondNav {
    display: flex;
    position: relative;
    right: 6vw;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    * {
      margin-inline: 8px;
    }
  }
  .thirdNav {
    display: flex;
    * {
      margin-inline: 4px;
    }
  }
  .logo {
    height: 90px;
    margin-right: 2vw;
  }
  .inputNav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 31ch;
    margin-right: 1vw;
    // height: fit-content;
  }
  a {
    text-decoration: none;
    color: var(--gray-1);
    position: relative;
    font-weight: bolder;
    :hover {
      color: var(--orange-logo);
      transition-duration: 0.5s;
    }
  }
  @media screen and (max-width: 1000px) {
    .inputNav {
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .navbarContainer {
    display: none;
  }
}
