// components APP //
@use "./components/Navbar";
@use "./components/Footer";

// screens APP //
@use "./screens/Homepage";

// screens admin //
@use "./screens/Admin";
@use "./screens/AdminLogin";

// components admin //
@use "./components/AdminReset";
@use "./components/Logo";
@use "./components/ShoesId";
@use "./components/LeftBand";

// fonts //
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

// Global ///////////////
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-1: #3498db;
  --primary-2: #2980b9;
  --danger-1: #e74c3c;
  --danger-2: #c0392b;
  --success-1: #2ecc71;
  --success-2: #27ae60;

  --gray-1: #d9d9d9;

  --black-logo: #060606;
  --black-bg: #0d1117;
  --black-header: #211e1e;
  --orange-logo: #f15412;

  --border: 1px solid var(--gray-2);

  --font-family-1: "Oswald";
  --font-family-2: "Urbanist";
  --font-family-3: "Roboto";
  ul {
    list-style: none;
    padding: 0;
  }

  img {
    max-width: 100%;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:link,
  a:visited {
    text-decoration: none;
  }
  body {
    // background-image: url(../img/Background.png);
    // background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    font-family: var(--font-family-2);
    user-select: none;

    button {
      cursor: pointer;
    }
  }
}
